#header {
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  
  :root {
    // colors
    --top-primary-color: #424551;
    --center-primary-color: #1e212c;
  }

  .btn__homepage {
    padding: 0px 40px;
    min-height: 52px;
    border: 1px solid #ff3f3a;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    transition: all 0.12s linear;
    cursor: pointer;
    &:hover {
      background: transparent;
      color: #ff4242;
    }
  }

  .header__mobile {
    position: fixed;
    top: 62px;
    left: -100%;
    z-index: 200;
    width: 96%;
    height: 360px;
    background-color: rgb(243, 243, 243);
    border: 2px solid rgb(212, 212, 212);
    border-radius: 4px;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0px;
    transition: 0.3s;
    @media (max-width: 425px) {
      top: 40px;
    }
  }
  .header__mobile.open {
    left: 2%;
  }

  // ------------------------------------------------------------------

  .header__container {
    padding: 0px 10px;

    .header__top {
      padding-top: 20px;
      margin-bottom: 128px;
      display: block;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      position: relative;

      min-height: 100vh;
      background-size: cover;
      background-position: center center;

      @media (max-width: 425px) {
        flex-wrap: nowrap;
        margin: 0;
      }
      .nav{

      .nav__logo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        vertical-align: auto;

        .nav__logo__img {
          cursor: pointer;
          margin-right: 60px;
          width: 70px;
          height: 70px;

        }
        @media (max-width: 425px) {
          .nav__logo__img {
            margin: 0;
          }
        }

        .nav__menu {
          .nav__menu-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            color: #1e212c;
            .nav__menu-list__item {
              &:not(:last-child) {
                margin-right: 40px;
              }
              .nav__list-item__link {
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                font-size: 24px;
                text-align: center;
                color: var(--top-primary-color);
                cursor: pointer;
                transition: color 0.2s;
                &:hover {
                  color: #ff3f3a;
                }
              }
            }
          }
        }
      }
      }

      .header__hamb {
        display: none;
        visibility: hidden;
        .header__hamb-field {
          display: flex;
          flex-direction: column;
          .header__hamb-field__line {
            display: block;
            width: 40px;
            height: 5px;
            background-color: #ff4242;
            &:not(:last-child) {
              margin-bottom: 6px;
            }
          }
          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
      }
      @media (max-width: 1120px) {
        .header__top {
          // margin-bottom: 60px;
        }
        .header__hamb {
          display: block;
          visibility: visible;
          .header__hamb-field {
            position: relative;
          }
        }

        .header__hamb.active .header__hamb-field__line:nth-child(2) {
          opacity: 0;
        }
        .header__hamb.active .header__hamb-field__line:nth-child(1) {
          position: absolute;
          top: 50%;
          transform: rotate(45deg);
        }
        .header__hamb.active .header__hamb-field__line:nth-child(3) {
          position: absolute;
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }

    .header__center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 9%;

      .header__center-left {
        padding: 12px 0px 0px 0px;
        @media (max-width: 425px) {
          padding: 32px 0px 0px 0px;
        }
        .header__center-left__title {
          margin-bottom: 60px;
          max-width: 496px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 900;
          font-size: 46px;
          line-height: 130%;
          letter-spacing: 1px;
          color: var(--primary-color);
        }
        .header__center-left__buttons {
          .header__button-button__left {
            margin-right: 24px;
          }
          .header__button-right__button {
          }
        }
        @media (max-width: 425px) {
          .header__center-left__title {
            font-size: 44px;
            margin-bottom: 40px;
          }
          .header__center-left__buttons .btn__homepage {
            width: 100%;
            min-height: 52px;
            font-weight: 700;
            font-size: 16px;
            &:nth-child(1) {
              margin-bottom: 18px;
            }
          }
        }
      }

      .header__center-right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__center-right__img {
          width: 550px;
          height: 400px;
        }
      }
      @media (max-width: 425px) {
        .header__center-right {
          margin-top: 30px;
          width: 100%;
          height: auto;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    @media (max-width: 425px) {
      .header__center {
        margin-bottom: 50px;
      }
    }

    
  }
}

@media (max-width: 1120px) {
  #header {
    .header__top-left__menu {
      display: none;
      visibility: hidden;
    }

    .header__top-right {
      display: none;
      visibility: hidden;
    }

    .header__mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      .header__menu-list__item {
        margin: 32px 0px;
        &:first-child,
        &:last-child {
          margin: 0;
        }
        .header__list-item__link {
          color: var(--center-primary-color);
          font-size: 28px;
          font-weight: 500;
          letter-spacing: 1px;
        }
      }
    }
  }
}
