*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
span {
  margin: 0;
  padding: 0;
  display: block;
}
ul {
  list-style: none;
}

[class*="__container"] {
  padding: 0px 10px;
  max-width: 1251px;
  margin: 0 auto;
}

body {
  @import "header.scss";
  @import "main.scss";
  @import "footer.scss";
  font-family: "Open-sans";
  background-color: #f8f8f8;

  .wrapper {
    overflow: hidden;
    height: 100%;

    @import "header.scss";
    @import "main.scss";
    @import "footer.scss";
    font-family: "Open-sans";
    background-color: #f8f8f8;
  }
}
@media (max-width: 1120px) {
  body {
    &.noscroll {
      overflow: hidden;
    }
  }
}
